In [1]:
frase = "Python es divertido"
frase_modificada = str.replace(frase, "divertido", "genial")
frase_modificada_2 = frase.replace("divertido", "genial")
print(frase_modificada)
print(frase_modificada_2)

Python es genial
Python es genial

In [2]:
palabra = "aventura"
print(palabra[1:6:2].upper())

VNU

In [3]:
palabra = " banana "
type(palabra)

str

In [4]:
dir(palabra)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [5]:
help(palabra.count)

Help on built-in function count:

count(sub[, start[, end]], /) method of builtins.str instance
    Return the number of non-overlapping occurrences of substring sub in string S[start:end].

    Optional arguments start and end are interpreted as in slice notation.

In [6]:
palabra.count("a")

3

In [7]:
print(palabra.upper())

 BANANA

In [8]:
string1 = "aprender"
string2 = "python"
resultado = string1.capitalize() + " " + string2.capitalize()
print(resultado)

Aprender Python

In [9]:
# Para saber que hace un método me ubico con el mouse encima del método
palabra.strip()
palabra

' banana '

In [10]:
frase = " estudiar Python es una gran decision "
frase.strip().split(" ") # return a list [...]

['estudiar', 'Python', 'es', 'una', 'gran', 'decision']

In [11]:
palabra = "Python es un gran lenguaje de programación para ingenieros de datos"
letra = "a"
print(palabra.count(letra))

lista = palabra.split()
print(len(lista))

7
11

In [12]:
frase = " Python es un gran lenguaje de programación para ingenieros de datos "
palabras_en_frase = len(frase.strip().split(" "))
print(palabras_en_frase)

11

In [13]:
nombre = input("Escribe tu nombre")
print(nombre)

Nelson

In [14]:
km = float(input("Introduce la cantidad de Kilómetros recorridos:"))
millas = km * 0.621371
print(millas)

62.137100000000004

#### Listas [...]
Son mutables - No tiene orden - Pueden recibir cualquier tipo de dato

In [15]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

numbers.append(6)
print(numbers)

del numbers[0]
print(numbers)

numbers.pop(0)
print(numbers)

numbers.insert(1, 7)
print(numbers)

numbers.sort()
print(numbers)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[2, 3, 4, 5, 6]
[3, 4, 5, 6]
[3, 7, 4, 5, 6]
[3, 4, 5, 6, 7]

In [16]:
# Operations
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]

combinada = lista1 + lista2
print(combinada)

repetida = lista1 * 3
print(repetida)

sublista = combinada[1:4]
print(sublista)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[2, 3, 4]

#### Tuplas(...)
Ordenas - No modificables - Solo un tipo de dato

In [17]:
mi_primera_tupla = ("Nelson", 2, 2.45)
print(mi_primera_tupla[1])

2

In [18]:
datos_personales = ("Maria", "Perez", 35, "Ingeniera")
nombre = datos_personales[0]
profesion = datos_personales[-1]
datos_personales = nombre + " es " + profesion
print(datos_personales)

Maria es Ingeniera

In [19]:
info_ciudades = (("Buenos Aires", 3000000, "Argentina"), ("Madrid", 3200000, "España"), ("Tokio", 13929286, "Japón"))
print(f"La ciudad de {info_ciudades[0][0]} en {info_ciudades[0][-1]} tiene una población de {info_ciudades[0][1]} habitantes")
print(f"La ciudad de {info_ciudades[1][0]} en {info_ciudades[1][-1]} tiene una población de {info_ciudades[1][1]} habitantes")
print(f"La ciudad de {info_ciudades[2][0]} en {info_ciudades[2][-1]} tiene una población de {info_ciudades[2][1]} habitantes")

La ciudad de Buenos Aires en Argentina tiene una población de 3000000 habitantes
La ciudad de Madrid en España tiene una población de 3200000 habitantes
La ciudad de Tokio en Japón tiene una población de 13929286 habitantes

#### Diccionarios {...}
Clave: Valor - No se puede repetir la clave - Ordenada

In [20]:
edades = {"Juan": 28, "Elena": 32, "Marcos": 17}
print(edades["Elena"])

edades["Juan"] = 29
print(edades["Juan"])

edades["Luisa"] = 25
print(edades)

32
29
{'Juan': 29, 'Elena': 32, 'Marcos': 17, 'Luisa': 25}

In [21]:
productos = {"manzana": 0.40, "banana": 0.50, "cereza": 0.80}
keys = productos.keys()
print(keys)

values = productos.values()
print(values)

productos["naranja"] = 0.60
print(productos)

productos.update({"banana": 0.75})
print(productos)

print(productos.keys(), productos.values())

dict_keys(['manzana', 'banana', 'cereza'])
dict_values([0.4, 0.5, 0.8])
{'manzana': 0.4, 'banana': 0.5, 'cereza': 0.8, 'naranja': 0.6}
{'manzana': 0.4, 'banana': 0.75, 'cereza': 0.8, 'naranja': 0.6}
dict_keys(['manzana', 'banana', 'cereza', 'naranja']) dict_values([0.4, 0.75, 0.8, 0.6])

#### Estructura IF / ElSE / ELIF

In [22]:
edad = 44
if edad > 18:
    print(f"Tienes {edad} años. Eres mayor de edad")

Tienes 44 años. Eres mayor de edad

In [23]:
amigos = ["Juan", "Ana", "Laura"]
nombre = 'Juan'

if nombre in amigos:
    print(f"{nombre} está en mi grupo de amigos")

Juan está en mi grupo de amigos

In [24]:
edad = 44

if edad >= 18:
    print(f"Tienes {edad} años, eres mayor de edad")
else:
    print(f"Tienes {edad} años, eres menor de edad")

Tienes 44 años, eres mayor de edad

In [25]:
calificacion = -1

if 0 <= calificacion < 5:
    print("Insuficiente")
elif 5 <= calificacion < 6:
    print("Aprobado")
elif 6 <= calificacion < 9:
    print("Notable")
elif 9 <= calificacion <= 10:
    print("Sobresaliente")
else:
    print("Calificación no válida")

Calificación no válida

In [26]:
x1 = 4
x2 = 2
x3 = 3

if (x1 > x2) and (x1 > x3) and (x2 > x3):
    print(x3, x2, x1)
elif (x2 > x1) and (x2 > x3) and (x3 > x1):
    print(x3, x1, x2)
elif (x3 > x1) and (x3 > x2) and (x2 > x1):
    print(x1, x2, x3)
else:
    print(x2, x3, x1)

2 3 4

#### For item in object

In [27]:
numeros = [1, 2, 3, 4, 5]
for numero in numeros:
    print(numero)

1
2
3
4
5

In [28]:
paises = ['Francia', 'Alemania', 'España', 'Italia', 'Chile']

for pais in paises:
    if 'a' in pais:
        print(f"{pais} contiene la letra 'a'")

Francia contiene la letra 'a'
Alemania contiene la letra 'a'
España contiene la letra 'a'
Italia contiene la letra 'a'

In [29]:
colores = ['rojo', 'azul', 'verde']
prendas = ['camisa', 'pantalones', 'sombrero']

for color in colores:
    for prenda in prendas:
        print(f"{prenda} {color}")

camisa rojo
pantalones rojo
sombrero rojo
camisa azul
pantalones azul
sombrero azul
camisa verde
pantalones verde
sombrero verde

#### Range()
Puedo crear diferentes rangos de números o variables para iterar con ellos

In [30]:
rango_numeros_pares = range(2, 22, 2)
for numero in rango_numeros_pares:
    print(numero)

2
4
6
8
10
12
14
16
18
20

In [31]:
suma = 0
for numero in range(1, 101):
    suma += numero
print(f"La suma de todos los números del 1 al 100 es: {suma}")

La suma de todos los números del 1 al 100 es: 5050

In [32]:
cadena = "aprendizaje"
for n in range(len(cadena)):
    print(f"Índice {n}: {cadena[n]}")

Índice 0: a
Índice 1: p
Índice 2: r
Índice 3: e
Índice 4: n
Índice 5: d
Índice 6: i
Índice 7: z
Índice 8: a
Índice 9: j
Índice 10: e

#### While
break
continue

In [33]:
contador = 1
while contador <= 5:
    print(contador)
    contador += 1

1
2
3
4
5

In [34]:
contador = 0

while contador <= 15:
    if contador == 5 or contador == 10:
        contador += 1     # Aseguramos incremento ANTES del continue
        continue
    print(contador)
    contador += 1

0
1
2
3
4
6
7
8
9
11
12
13
14
15

In [35]:
contador = 0
while contador <= 10:
    contador += 1
    print(contador)
    
    if (contador % 4) == 0:
        break

1
2
3
4

#### Functions

In [36]:
def solicitar_nombre() -> str:
    return input("Introduce tu nombre: ")    

def saludar():
    print(f"¡Hola {solicitar_nombre()}!")

saludar()

¡Hola Nelson!

In [37]:
def pedir_numeros() -> tuple:
     num1 = int(input("Introduce un número: "))
     num2 = int(input("Introduce otro número: "))
     return num1, num2

def sumar() -> str:
    num1, num2 = pedir_numeros()
    print(f"La suma es {num1 + num2}")

sumar()

La suma es 5

In [38]:
def solicitar_numero():
    return int(input("Ingrese un número entero positivo: "))

def calcular_factorial(numero: int) -> int:
    factorial = 1
    for i in range(1, numero + 1):
        factorial *= i
    return factorial

def mostrar_resultado():
    numero = solicitar_numero()
    resultado = calcular_factorial(numero)
    print(f"El factorial de {numero} es {resultado}")

mostrar_resultado()

El factorial de 2 es 2