### PANDAS

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
datos = {"nombre": ["Juan", "Ana", "Pedro", "Maria"], "edad": [23, 45, 34, 29]}
df = pd.DataFrame(datos)
print(df)

  nombre  edad
0   Juan    23
1    Ana    45
2  Pedro    34
3  Maria    29