In [ ]:
frase = "Python es divertido"
frase_modificada = str.replace(frase, "divertido", "genial")
frase_modificada_2 = frase.replace("divertido", "genial")
print(frase_modificada)
print(frase_modificada_2)

In [ ]:
palabra = "aventura"
print(palabra[1:6:2].upper())

In [ ]:
palabra = " banana "
type(palabra)

In [ ]:
dir(palabra)

In [ ]:
help(palabra.count)

In [ ]:
palabra.count("a")

In [ ]:
print(palabra.upper())

In [ ]:
string1 = "aprender"
string2 = "python"
resultado = string1.capitalize() + " " + string2.capitalize()
print(resultado)

In [ ]:
# Para saber que hace un método me ubico con el mouse encima del método
palabra.strip()
palabra

In [ ]:
frase = " estudiar Python es una gran decision "
frase.strip().split(" ") # return a list [...]

In [ ]:
palabra = "Python es un gran lenguaje de programación para ingenieros de datos"
letra = "a"
print(palabra.count(letra))

lista = palabra.split()
print(len(lista))

In [ ]:
frase = " Python es un gran lenguaje de programación para ingenieros de datos "
palabras_en_frase = len(frase.strip().split(" "))
print(palabras_en_frase)

In [ ]:
nombre = input("Escribe tu nombre")
print(nombre)

In [ ]:
km = float(input("Introduce la cantidad de Kilómetros recorridos:"))
millas = km * 0.621371
print(millas)

#### Listas [...]
Son mutables - No tiene orden - Pueden recibir cualquier tipo de dato

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

numbers.append(6)
print(numbers)

del numbers[0]
print(numbers)

numbers.pop(0)
print(numbers)

numbers.insert(1, 7)
print(numbers)

numbers.sort()
print(numbers)

In [ ]:
# Operations
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]

combinada = lista1 + lista2
print(combinada)

repetida = lista1 * 3
print(repetida)

sublista = combinada[1:4]
print(sublista)

#### Tuplas(...)
Ordenas - No modificables - Solo un tipo de dato

In [ ]:
mi_primera_tupla = ("Nelson", 2, 2.45)
print(mi_primera_tupla[1])

In [ ]:
datos_personales = ("Maria", "Perez", 35, "Ingeniera")
nombre = datos_personales[0]
profesion = datos_personales[-1]
datos_personales = nombre + " es " + profesion
print(datos_personales)

In [ ]:
info_ciudades = (("Buenos Aires", 3000000, "Argentina"), ("Madrid", 3200000, "España"), ("Tokio", 13929286, "Japón"))
print(f"La ciudad de {info_ciudades[0][0]} en {info_ciudades[0][-1]} tiene una población de {info_ciudades[0][1]} habitantes")
print(f"La ciudad de {info_ciudades[1][0]} en {info_ciudades[1][-1]} tiene una población de {info_ciudades[1][1]} habitantes")
print(f"La ciudad de {info_ciudades[2][0]} en {info_ciudades[2][-1]} tiene una población de {info_ciudades[2][1]} habitantes")

#### Diccionarios {...}
Clave: Valor - No se puede repetir la clave - Ordenada

In [ ]:
edades = {"Juan": 28, "Elena": 32, "Marcos": 17}
print(edades["Elena"])

edades["Juan"] = 29
print(edades["Juan"])

edades["Luisa"] = 25
print(edades)

In [ ]:
productos = {"manzana": 0.40, "banana": 0.50, "cereza": 0.80}
keys = productos.keys()
print(keys)

values = productos.values()
print(values)

productos["naranja"] = 0.60
print(productos)

productos.update({"banana": 0.75})
print(productos)

print(productos.keys(), productos.values())

#### Estructura IF / ElSE / ELIF

In [41]:
edad = 44
if edad > 18:
    print(f"Tienes {edad} años. Eres mayor de edad")

Tienes 44 años. Eres mayor de edad

In [42]:
amigos = ["Juan", "Ana", "Laura"]
nombre = 'Juan'

if nombre in amigos:
    print(f"{nombre} está en mi grupo de amigos")

Juan está en mi grupo de amigos

In [44]:
edad = 44

if edad >= 18:
    print(f"Tienes {edad} años, eres mayor de edad")
else:
    print(f"Tienes {edad} años, eres menor de edad")

Tienes 44 años, eres mayor de edad

In [58]:
calificacion = -1

if 0 <= calificacion < 5:
    print("Insuficiente")
elif 5 <= calificacion < 6:
    print("Aprobado")
elif 6 <= calificacion < 9:
    print("Notable")
elif 9 <= calificacion <= 10:
    print("Sobresaliente")
else:
    print("Calificación no válida")

Calificación no válida

In [65]:
x1 = 4
x2 = 2
x3 = 3

if (x1 > x2) and (x1 > x3) and (x2 > x3):
    print(x3, x2, x1)
elif (x2 > x1) and (x2 > x3) and (x3 > x1):
    print(x3, x1, x2)
elif (x3 > x1) and (x3 > x2) and (x2 > x1):
    print(x1, x2, x3)
else:
    print(x2, x3, x1)

2 3 4